In [38]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [39]:
data =pd.read_csv("Churn_Modelling.csv")
data.head(15)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0

In [40]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [41]:
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender']) #changing the gender data into the numericals data ,for the ann

In [42]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [43]:
#one hot encoding part
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()
geo_encoder=ohe.fit_transform(data[['Geography']])   #so it basically find the pattern and convert them into the binary form in same line 
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [44]:
ohe.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [45]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=ohe.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [46]:
data=pd.concat([
    data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [47]:
with open('label_encoder_gender.pkl','wb')as file:
    pickle.dump(label_encoder_gender,file)
with open('ohe.pkl','wb') as file:
    pickle.dump(ohe,file)

In [48]:
X=data.drop('Exited',axis=1)
y=data['Exited']

In [49]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
X_train.dtypes

CreditScore            int64
Gender                 int32
Age                    int64
Tenure                 int64
Balance              float64
NumOfProducts          int64
HasCrCard              int64
IsActiveMember         int64
EstimatedSalary      float64
Geography_France     float64
Geography_Germany    float64
Geography_Spain      float64
dtype: object

In [50]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [51]:
with open('scaler.pkl','wb')as file:
    pickle.dump(scaler,file)

In [52]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [53]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1,activation='sigmoid')
]
)
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [54]:
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

In [55]:
from tensorflow.keras.callbacks import  EarlyStopping,TensorBoard
log_dir="logs/fit/" +datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

In [56]:
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [57]:
early_stopping_callback=EarlyStopping(monitor="val_loss",patience=20,restore_best_weights=True)

In [58]:
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 2s 5ms/step - loss: 0.4467 - accuracy: 0.8064 - val_loss: 0.3861 - val_accuracy: 0.8325
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3773 - accuracy: 0.8445 - val_loss: 0.3563 - val_accuracy: 0.8475
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3553 - accuracy: 0.8533 - val_loss: 0.3471 - val_accuracy: 0.8580
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3447 - accuracy: 0.8559 - val_loss: 0.3471 - val_accuracy: 0.8565
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3394 - accuracy: 0.8601 - val_loss: 0.3471 - val_accuracy: 0.8575
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3361 - accuracy: 0.8611 - val_loss: 0.3460 - val_accuracy: 0.8595
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3330 - accuracy: 0.8622 - val_loss: 0.3408 - val_accuracy: 0.8640
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3307 - accuracy: 0.8612 - val_loss: 0.3418 - val_accuracy: 0.8645
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3278 - accuracy: 0.8634 - val_loss: 0.3404 - val_accuracy: 0.8640
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3249 - accuracy: 0.8651 - val_loss: 0.3449 - val_accuracy: 0.8590
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3248 - accuracy: 0.8624 - val_loss: 0.3422 - val_accuracy: 0.8625
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3220 - accuracy: 0.8666 - val_loss: 0.3401 - val_accuracy: 0.8645
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3201 - accuracy: 0.8660 - val_loss: 0.3424 - val_accuracy: 0.8600
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3183 - accuracy: 0.8656 - val_loss: 0.3439 - val_accuracy: 0.8620
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3173 - accuracy: 0.8699 - val_loss: 0.3401 - val_accuracy: 0.8610
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3155 - accuracy: 0.8674 - val_loss: 0.3416 - val_accuracy: 0.8625
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3153 - accuracy: 0.8664 - val_loss: 0.3424 - val_accuracy: 0.8605
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3127 - accuracy: 0.8683 - val_loss: 0.3443 - val_accuracy: 0.8620
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3111 - accuracy: 0.8702 - val_loss: 0.3461 - val_accuracy: 0.8580
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3094 - accuracy: 0.8695 - val_loss: 0.3432 - val_accuracy: 0.8605
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3084 - accuracy: 0.8702 - val_loss: 0.3405 - val_accuracy: 0.8650
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3073 - accuracy: 0.8714 - val_loss: 0.3443 - val_accuracy: 0.8625
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3047 - accuracy: 0.8734 - val_loss: 0.3432 - val_accuracy: 0.8595
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3036 - accuracy: 0.8723 - val_loss: 0.3427 - val_accuracy: 0.8625
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3031 - accuracy: 0.8749 - val_loss: 0.3431 - val_accuracy: 0.8650
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3013 - accuracy: 0.8723 - val_loss: 0.3485 - val_accuracy: 0.8540
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3005 - accuracy: 0.8742 - val_loss: 0.3444 - val_accuracy: 0.8615
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2982 - accuracy: 0.8758 - val_loss: 0.3487 - val_accuracy: 0.8605
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2992 - accuracy: 0.8745 - val_loss: 0.3441 - val_accuracy: 0.8635
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2955 - accuracy: 0.8774 - val_loss: 0.3470 - val_accuracy: 0.8650
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2958 - accuracy: 0.8733 - val_loss: 0.3469 - val_accuracy: 0.8605
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2938 - accuracy: 0.8767 - val_loss: 0.3498 - val_accuracy: 0.8615

In [59]:
model.save('model.h5')

c:\udemy_genai\ann_implementation\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [ ]:
%load_ext tensorboard
%tensorboard --logdir logs/fit